* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px black solid;
    background-color: #c0392b;
}

.gen-info, .educ-info, .work-info {
    display: flex;
    border-bottom: 1px solid;
}

.gen-info-form{
    width: 30vw;
    padding: 20px;
    border-right: 1px solid black;
}

.educ-info-form,
.work-info-form {
    width: 30vw;
    padding: 20px;
}


.educ-info-container,
.work-info-container {
    display: flex;
    flex-direction: column;
    max-height: 420px;
    width: auto;
    overflow-y: auto;
    border-right: 1px solid black;
}

.educ-info-container::-webkit-scrollbar,
.work-info-container::-webkit-scrollbar {
    width: 0;
}

.educ-info-container h2,
.work-info-container h2 {
    padding-left: 20px;
    padding-top: 10px;
}

.educ-info-container .add,
.work-info-container .add {
    margin-left: 20px;
    margin-bottom: 10px;
}

.educ-info-sec,
.work-info-sec {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;
    max-width: 300px;
}

.educ-field-container,
.work-field-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 20px;
    gap: 5rem;
    
}

.gen-info-form h2 {
    padding-bottom: 10px;
}


.gen-info-form form,
.educ-info-form form,
.work-info-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.educ-info-field, .work-info-field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 70%;
    justify-content: start;
    text-align: left;
}

.gen-info-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    gap: 10px;
}


.submit {
    width: 30%;
    background-color: green;
    border: none;
}

.edit {
    width: 30%;
    margin-top: 10px;
    background-color: blue;
    border: none;
}

.add {
    width: 30%;
    margin-top: 5px;
    background-color: lightblue;
    border: none;
}

.delete {
    width: 30%;
    margin-top: 10px;
    background-color: red;
    border: none;
}

input {
    margin-top: 5px;
}

.details {
    display: flex;
}